#qv {
    -webkit-transition: width 0.4s 0.0s, height 0.4s 0.4s;
    -moz-transition: width 0.4s 0.0s, height 0.4s 0.4s;
    transition: width 0.4s 0.0s, height 0.4s 0.4s;
    position: fixed;
    left: 2%;
    top: 2%;
    z-index: 999;
    width: 0px;
    height: 30px;
    color: #595959;
    font-family: Sans;
    overflow: hidden;
}

#qv.small {
    width: 990px;
    height: 390px;
}

#qv.large {
    width: 1204px;
    height: 510px;
}

#qv-iframe {
    float: left;
}

#qv-side {
    position: relative;
    float: right;
    z-index: 9999;
    width: 350px;
    overflow: auto;
    background: #FEFEFE;
    -webkit-transition: height 0.4s 0.0s, left 0.4s 0.4s;
    -moz-transition: height 0.4s 0.0s, left 0.4s 0.4s;
    transition: height 0.4s 0.0s, left 0.4s 0.4s;
}

#qv.large #qv-side {
    height: 510px;
}

#qv.small #qv-side {
    height: 390px;
}

#qv-bar {
    width: 100%;
    height: 30px;
    background: #af2b26;
    line-height: 30px;
    color: #EEEEEE
}

#qv-side a {
    color: rgb(248, 242, 242);
}

#qv-side a:hover {
    //font-weight: bold;
    text-decoration: underline;
}

#qv-title {
    padding-left: 0.75em;
    display: inline-block;
}

#qv-size-toggle {
    display: inline-block;
    float: right;
    padding-right: 0.75em;
}

#qv-size-toggle.contract:before {
    content:"m";
}

#qv-size-toggle.expand:before {
    content:"M";
}

.hide-toggle, .qv-load-comments, .jump{
    height: 20px;
    line-height: 20px;
    background: rgb(136, 45, 49);
    display: block;
    padding-top: 0.3em;
    padding-left: 0.75em;
}

.hide-toggle:before {
    content:"Hide " attr(data-for);
}

.hide-toggle.hidden:before {
    content:"Show " attr(data-for);
}

#qv-side .truncate-button {
    text-align: center
}

#qv-side .truncate-button a.truncate {
    font-weight: bold;
    display: inline-block;
    line-height: 25px;
    color: rgb(40, 40, 40);
}

#qv-side .truncate-button a.truncate:hover {
    border-color: #c6c6c6;
    background: #f0f0f0;
    text-decoration: none;
}

#qv-side .truncate-button a.truncate:before {
    content: "Show less";
}


#qv-side .truncate-button a.truncate.hidden:before {
    content: "Show more";
}

#qv-side span.details.hidden {
    display: none;
}

#qv-side span.details {
    display: inline;
}

#qv-info {
    word-break: break-word;
    padding-top: 0.3em;
    padding-left: 0.75em;
    line-height: 1.5em;
}

#qv-comments {
    -webkit-transition: height 0.4s 0.0s;
    -moz-transition: height 0.4s 0.0s;
    transition: height 0.4s 0.0s;
    word-break: break-word;
}

.qv-comment {
    margin: 0.75em 1em;
}

.qv-content {
}

#qv-side .qv-author a {
    color: #2793e6;
    font-weight: bold;
    font-size: 0.75em;
}

#qv-side .qv-author a:hover {
    text-decoration: underline;
}

.qv-date {
    color: #9F9F9F;
    font-size: 0.75em;
    float: right;
}
